html {overflow-y:scroll}
.hidden {display:none}

body {
}

div#body-container {
    margin-top: 80px;
}

img.face-picture {
    display: inline-block;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 3px;
}

span.nav-title {
    font-family: 'Telex', sans-serif;
    display: inline-block;
    padding: 15px 20px 15px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: #ffffff;
    text-shadow: 1px 1px 0 rgba(0,0,0,.2);
}

span.big-numbers {
    font-size: 24pt;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0,0,0,.2);
}

div.navbar-inner.small {
    min-height: 25px;
    height: 25px;
    color: #ffffff;
    text-shadow: 0px -1px 0 rgba(0,0,0,.2);
    text-align: center;
    font-weight: bold;
}


span.nav-title.nav-username {
    margin-left: 0;
}

input.input-large-font {
    font-size: 24pt;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0,0,0,.2);
    height: 48px;
    text-align: right;
}

input.input-styled, div.well.scale {
    position: relative;
    top: -5px;
    z-index: 100;
}

div.calendar-form {
}

table.calendar td.day {
    text-align:center;
}
table.calendar td.day-available:hover {
    cursor: pointer;
    text-decoration: underline;
}

table.calendar td.day-done {
    background-color: #fda;
}

table.calendar td.day-done:hover {
    cursor: pointer;
    text-decoration: underline;
}

table.calendar td.day-future {
    background-color: #f0f0f0;
    cursor: default;
}

.bs-docs-sidenav {
    position: fixed;
    margin: 30px 0 0;
    width: 260px;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}
.bs-docs-sidenav > li > a {
    color: #dd1f26;
}
.bs-docs-sidenav > li > a:hover {
    background-color: #f5f5f5;
}

.bs-docs-sidenav > li.active > a {
    background-color: #dd1f26;
}
.bs-docs-sidenav > li.active > a:hover {
    background-color: #dd1f26;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
    opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
    background-image: url(/static/bootstrap/img/glyphicons-halflings-white.png);
    opacity: 1;
}
.bs-docs-sidenav.affix {
    top: 40px;
}
.bs-docs-sidenav.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
}

button span.big {
    display: block;
    font-size: 16pt;
}

form.scale-buttons {
    margin-bottom: 0;
}

div.scale small {
    font-size: 7pt;
    color: #ffffff;
}
div.scale big {
    font-size: 16pt;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0,0,0,.2);
}

section {
    display: none;
}

section h3 {
    padding-top: 20px;
}

div#status-box {
    height: 270px;
}

img.status-gauge {
    position: absolute;
    top: 15px;
    left: 10px;
}

div.status-meter {
    height: 250px;
    width: 100px;
    position: absolute;
    bottom: 38px;
    left: 16px;
    overflow: hidden;
}

div.status-meter img {
    position: absolute;
    bottom: 0px;
}

div.status {
    text-align:right;
}

div.status p {
    margin-top: 15px;
}

span.badge-gold {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ddc602;
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.navbar-inner {
     background-color: #d41e24;
  background-image: -moz-linear-gradient(top, #dd1f26, #c71c22);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd1f26), to(#c71c22));
  background-image: -webkit-linear-gradient(top, #dd1f26, #c71c22);
  background-image: -o-linear-gradient(top, #dd1f26, #c71c22);
  background-image: linear-gradient(to bottom, #dd1f26, #c71c22);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd1f26', endColorstr='#ffc71c22', GradientType=0);
  border-color: #c71c22 #c71c22 #841317;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #c71c22;
   
}

h1, h2, h3, h4, h5, h6 {
    color: #dd1f26;
}

.navbar-inner ul.nav > li > a:hover {
    background-color: #a60b11;
}

