{% extends "frame.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
<script type="text/javascript">
    $(document).ready(function() {
        $("ul.nav-tabs a").each(function() {
            $(this).click(function() {
                $("ul.nav-tabs li").removeClass("active");
                $(this).parent().addClass("active");
                $("section.tab").hide();
                $("section.tab"+$(this).attr('href')).show();
                return false;
            });
        }).last().click();

    });
</script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h1>Dashboard</h1>
        <ul class="nav nav-tabs">
            <li><a href="#daily">Daily stats</a></li>
            <li><a href="#scales">Scales</a></li>
            <li><a href="#users">Users</a></li>
            <li><a href="#uploads">Uploads</a></li>
            <li><a href="#grading">Grading</a></li>
        </ul>
    </div>
</div>
<!-- uploads -->
<section id="daily" class="tab">
<div class="row">
    <div class="span12">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Uploads</th>
                </tr>
            </thead>
            <tbody>
                {% for day in days %}
                <tr>
                    <td>{{ day.date }}</td>
                    <td>{{ day.uploads }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</section>
<!-- scales -->
<section id="scales" class="tab">
<div class="row">
    <div class="span12">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th colspan=2>Money</th>
                    <th colspan=2>Current value</th>
                    <th>Winner</th>
                </tr>
            </thead>
            <tbody>
                {% for s in scales %}
                <tr>
                    <td style="width: 5%">
                        {{ s.id }}
                    </td>
                    <td style="width: 5%">
                        <small>${{ s.money|floatformat:2 }}</small>
                    </td>
                    <td style="width: 30%">
                        <div class="progress progress-success progress-striped">
                            <div class="bar" style="width:{% widthratio s.money max_scale_money 100 %}%">
                            </div>
                        </div>
                    </td>
                    <td style="width: 10%">
                        <small>{{ s.current_value }}/{{ s.target_value }}</small>
                    </td>
                    <td style="width: 30%">
                        <div class="progress progress-warning progress-striped">
                            <div class="bar" style="width:{% widthratio s.current_value s.target_value 100 %}%">
                            </div>
                        </div>
                    </td>
                    <td>
                        {% if s.winner != '' %}
                        <img src="/static/img/student-pictures/{{ s.image_url }}" class="img-popup">
                        {{ s.winner }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</section>
<!-- users -->
<section id="users" class="tab">
<div class="row">
    <div class="span12">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Status</th>
                    <th colspan=2>Uploads</th>
                    <th colspan=2>Total FuelScore</th>
                    <th colspan=2>Points</th>
                    <th colspan=2>Winnings</th>
                </tr>
            </thead>
            <tbody>
                {% for u in users %}
                <tr>
                    <td>
                        <img src="/static/img/student-pictures/{{ u.image_url }}" class="img-popup">
                        {{ u.full_name }}</td>
                    <td style="width: 7%">{% autoescape off %}{{ u.status_badge }}{% endautoescape %}</td>
                    <td style="width: 3%">
                        <small>{{ u.uploads }}</small>
                    </td>
                    <td style="width: 15%">
                        <div class="progress progress-striped">
                            <div class="bar" style="width:{% widthratio u.uploads num_days 100 %}%">
                            </div>
                        </div>
                    </td>
                    <td style="width: 3%">
                        <small>{{ u.fuelscore }}</small>
                    </td>
                    <td style="width: 15%">
                        <div class="progress progress-striped" style="margin-bottom: 0">
                            <div class="bar" style="width:{% widthratio u.fuelscore max_fuelscore 100 %}%">
                            </div>
                        </div>
                    </td>
                    <td style="width: 3%">
                        <small>{{ u.points }}</small>
                    </td>
                    <td style="width: 15%">
                        <div class="progress progress-striped" style="margin-bottom: 0">
                            <div class="bar bar-warning" style="width:{% widthratio u.points max_points 100 %}%">
                            </div>
                        </div>
                    </td>
                    <td style="width: 3%">
                        <small>${{ u.winnings|floatformat:2 }}</small>
                    </td>
                    <td style="width: 15%">
                        <div class="progress progress-striped" style="margin-bottom: 0">
                            <div class="bar bar-success" style="width:{% widthratio u.winnings max_winnings 100 %}%">
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</section>
<section id="uploads" class="tab">
<div class="row">
    <div class="span12">
        <table class="table table-condensed table-striped" style="table-layout:fixed">
            <thead>
                <tr>
                    <th></th>
                    {% for d in all_day %}
                    <th style="width:3%">{{ d.day }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for u in users %}
                <tr>
                    <td>
                        <img src="/static/img/student-pictures/{{ u.image_url }}" class="img-popup">
                        {{ u.full_name }}</td>
                    {% for d in all_day %}
                    <td>
                        {% if d.day in u.upload_detail %}
                        <i class="icon icon-ok-sign"></i>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</section>
<section id="grading" class="tab">
<div class="row">
    <div class="span12">
        <table class="table table-condensed table-striped" style="table-layout: fixed">
            <thead>
                <tr>
                    <th></th>
                    {% for p in projects %}
                    <th style="width:6%; overflow-x: hidden">{{ p.topic }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <b>Average</b>
                    </td>
                    {% for s in average_scores %}
                    <td>{{ s|floatformat:2 }}</td>
                    {% endfor %}
                </tr>
                {% for u in users %}
                <tr>
                    <td>
                        {{ u.full_name }}
                    </td>
                    {% if u.scores %}
                    {% for s in u.scores %}
                    {% if u.project.id == forloop.counter %}
                    <td><i class="icon icon-user"></i></td>
                    {% else %}
                    <td>{{ s }}</td>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    {% for p in projects %}
                    <td></td>
                    {% endfor %}
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
</section>
{% endblock %}
