{% extends "frame.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
<script type="text/javascript">
    $(document).ready(function() {
        $("ul.nav-tabs a").each(function() {
            $(this).click(function() {
                $("ul.nav-tabs li").removeClass("active");
                $(this).parent().addClass("active");
                $("section.tab").hide();
                $("section.tab"+$(this).attr('href')).show();
                return false;
            });
        }).last().click();

    });
</script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h1>Dashboard</h1>
        <ul class="nav nav-tabs">
            <li><a href="#uploads">Uploads</a></li>
            <li><a href="#scales">Scales</a></li>
            <li><a href="#users">Users</a></li>
        </ul>
    </div>
</div>
<!-- uploads -->
<section id="uploads" class="tab">
<div class="row">

</div>
</section>
<!-- scales -->
<section id="scales" class="tab">
scales
</section>
<!-- users -->
<section id="users" class="tab">
<div class="row">
    <div class="span12">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Status</th>
                    <th colspan=2>FuelScore</th>
                    <th colspan=2>Points</th>
                    <th colspan=2>Winnings</th>
                </tr>
            </thead>
            <tbody>
                {% for u in users %}
                <tr>
                    <td style="width: 24%">
                        <img src="/static/img/student-pictures/{{ u.image_url }}" style="width: 20px">
                        {{ u.full_name }}</td>
                    <td style="width: 7%">{% autoescape off %}{{ u.status_badge }}{% endautoescape %}</td>
                    <td style="width: 3%">
                        <small>{{ u.fuelscore }}</small>
                    </td>
                    <td style="width: 20%">
                        <div class="progress progress-striped" style="margin-bottom: 0">
                            <div class="bar" style="width:{% widthratio u.fuelscore max_fuelscore 100 %}%">
                            </div>
                        </div>
                    </td>
                    <td style="width: 3%">
                        <small>{{ u.points }}</small>
                    </td>
                    <td style="width: 20%">
                        <div class="progress progress-striped" style="margin-bottom: 0">
                            <div class="bar bar-warning" style="width:{% widthratio u.points max_points 100 %}%">
                            </div>
                        </div>
                    </td>
                    <td style="width: 3%">
                        <small>${{ u.winnings|floatformat:2 }}</small>
                    </td>
                    <td style="width: 20%">
                        <div class="progress progress-striped" style="margin-bottom: 0">
                            <div class="bar bar-success" style="width:{% widthratio u.winnings max_winnings 100 %}%">
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</section>
{% endblock %}
