<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ website_name }} - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
    </head>
    <body>
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">{{ website_name }}</a>
                    <h5>
                         <p style="text-align:right">
                             {% if not user.is_anonymous %} 
                               Welcome back, {{ user.get_full_name }}
                               </br></br>
                               <a href="/logout/"><u>Logout</u></a>
                             {% endif %}
                             </p>
                    </h5>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 20px">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
