{% extends 'frame.html' %}
{% block title %}game{% endblock %}
{% block head %}
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        {% if won %}
        $("#won-modal").modal();
        {% elif not_enough_points %}
        $("#not-enough-modal").modal();
        {% elif game_already_finished %}
        $("#already-finished-modal").modal();
        {% endif %}
    });
</script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <div class="nav">
            <div class="navbar-inner">
                <span class="nav-title">Your current balance: {{ user.profile.get_fueluser.current_amount }} point{{ user.profile.get_fueluser.current_amount|pluralize }}</span>
            </div>
        </div>
    </div>
    {% for scale in active_scales %}
    <div class="span4">
        <div class="navbar-inner small">Scale {{ scale.id }}</div>
        <div class="well scale">
            <div style="position: relative;">
                <img src="/static/img/scale_tilt.png" style="width:260px">
                <div style="position:absolute;top:77px;left:36px;width:60px; line-height: 9px">
                    <center><big>{{ scale.current_value }}</big><br><small>pts</small></center>
                </div>
            </div>
            <div class="container-fluid" style="padding:10px 0 0 0">
                <div class="row-fluid">
                    <div class="span4">
                        <form class="scale-buttons" method="POST" action="/action/addscale/{{ scale.id }}/10/">
                            {% csrf_token %}
                            <button id="add10" name="add10" class="btn btn-success btn-small btn-block">Add <span class="big">10</span> points</button>
                        </form>
                    </div>
                    <div class="span4">
                        <form class="scale-buttons" method="POST" action="/action/addscale/{{ scale.id }}/50/">
                            {% csrf_token %}
                            <button id="add50" name="add50" class="btn btn-info btn-small btn-block">Add <span class="big">50</span> points</button>
                        </form>
                    </div>
                    <div class="span4">
                        <form class="scale-buttons" method="POST" action="/action/addscale/{{ scale.id }}/100/">
                            {% csrf_token %}
                            <button id="add100" name="add100" class="btn btn-warning btn-small btn-block">Add <span class="big">100</span> points</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="span12">
        <h3>Balanced scales</h3>
        <table class="table table-bordered table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>Date won</th>
                    <th>Winner</th>
                    <th style="text-align:right">Money won</th>
                </tr>
            </thead>
            <tbody>
                {% for scale in finished_scales %}
                <tr>
                    <td>{{ scale.id }}</td>
                    <td>{{ scale.get_end_time }}</td>
                    <td>{% if scale.get_winner in user.profile.get_fueluser.friends %}
                        {{ scale.get_winner.get_full_name }}
                        {% elif scale.get_winner == user %}
                        {{ user.get_full_name }}
                        {% else %}
                        Someone
                        {% endif %}
                    </td>
                    <td style="text-align:right">${{ scale.money|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> <!-- span12 -->
</div> <!-- row -->
<div class="modal hide fade" id="won-modal">
    <div class="modal-header"><h3>Congratulations!</h3></div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    You are the winner of this scale! You have won ${{ won.money|floatformat:2 }}. 
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6 scale" style="align:right">
                    <img src="/static/img/scale_even.png" style="width:260px; max-width: 260px">
                    <div style="position:absolute;top:143px;left:72px;width:60px;line-height:9px">
                        <center><big>{{ won.target }}</big><br><small>pts</small></center>
                    </div>
                </div>
                <div class="span6">
                    <table class="table table-striped table-condensed">
                        <tbody>
                            <tr>
                                <td><b>Total points required</b></td>
                                <td>{{ won.target }}</td>
                            </tr>
                            <tr>
                                <td><b>Your points spent</b></td>
                                <td>{{ total_spent }}</td>
                            </tr>
                            <tr>
                                <td><b>Money won</b></td>
                                <td>${{ won.money|floatformat:2}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
<div class="modal hide fade" id="not-enough-modal">
    <div class="modal-header"><h3>Sorry!</h3></div>
    <div class="modal-body">
        You do not have sufficient points to put on this scale!
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
<div class="modal hide fade" id="already-finished-modal">
    <div class="modal-header"><h3>Sorry!</h3></div>
    <div class="modal-body">
        You tried to add points to a scale that already tipped!
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
{% endblock %}
