{% extends 'frame.html' %}
{% block title %}game{% endblock %}
{% block head %}
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#won-modal").modal();
        });
</script>
{% endblock %}
{% block content %}
<div class="row">
    {% for scale in active_scales %}
    <div class="span4">
        <div class="well">
            <div style="position: relative;">
                <img src="/static/img/scale_tilt.jpg">
                <div style="position:absolute;top:42px;left:48px;width:40px">
                    <p> <center> <b> {{ scale.current_value }} points </b> </center></p>
                </div>
                <div style="position:absolute;top:78px;left:170px;">
                    <img src="/static/img/prize.png" height="48" width="38">
                </div>
            </div>
            <form method="POST" action="/action/addscale/{{ scale.id }}/10/">
                {% csrf_token %}
                <button id="add10" name="add10" class="btn btn-success btn-small" style="margin: 2px;">Add 10 pts</button>
            </form>
            <form method="POST" action="/action/addscale/{{ scale.id }}/50/">
                {% csrf_token %}
                <button id="add50" name="add50" class="btn btn-info btn-small" style="margin: 2px;">Add 50 pts</button>  
            </form>
            <form method="POST" action="/action/addscale/{{ scale.id }}/100/">
                {% csrf_token %}
                <button id="add100" name="add100" class="btn btn-primary btn-small" style="margin: 2px;">Add 100 pts</button>  
            </form>
        </div>
    </div>
    {% endfor %}
    {% if not_enough_points %}
    <span id="span4"> <h4> Sorry! Your points are not sufficient </h4></span>
    {% endif %}
    {% if won %}
    <span id="span4"> <h4> Congratulations! You have won {{ money }} dollars! </h4></span>
    {% endif %}
</div>
<div class="row">
    <div class="span12">
        <h3>Finished scales</h3>
        <table class="table table-bordered table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>User</th>
                    <th style="text-align:right">Money won</th>
                </tr>
            </thead>
            <tbody>
                {% for scale in finished_scales %}
                <tr>
                    <td>{{ scale.get_end_time }}</td>
                    <td>{{ scale.get_winner.get_full_name }}</td>
                    <td style="text-align:right">${{ scale.money|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> <!-- span12 -->
</div> <!-- row -->
<div class="modal hide fade" id="won-modal">
    hi
</div>
{% endblock %}}
