{% extends 'frame.html' %}
{% block title %}home{% endblock %}
{% block head %}
<script type="text/javascript">
    $(document).ready(function() {

        $("#submit-button").click(function(){
            var intRegex = /^\d+$/;

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();
            var inputdate = $("#date").val().split("-");
            if ((!intRegex.test(inputdate[0])) || (!intRegex.test(inputdate[1])) || (!intRegex.test(inputdate[2])))
            {
                alert('Please input correct date');
                return false;
            }
            else {
                var d=parseInt(inputdate[2]);
                var m=parseInt(inputdate[1]);
                var y=parseInt(inputdate[0]);
                if ((y!=2013)||(m>mm)||((m==mm)&&(d>=dd)))
                {
                    alert('Please only input data PRIOR to today');
                    return false;
                }
            }
            if(!intRegex.test($("#step").val()))
                alert("Step should be a non-negative integer");
            else if(!intRegex.test($("#calories").val())) 
                alert("Calories should be a non-negative integer")
            else if(!intRegex.test($("#fuel_score").val()))
                alert("Fuel score should be a non-negative integer")
            else   
            $.get("/addrecord/", {       
                "step": $("#step").val(), "calories": $("#calories").val(), "fuel_score": $("#fuel_score").val(),
                "note": $("#note").val(), "date": $("#date").val()}).done(function(){
                    location.reload(true); 
                });
                return false;
        });
        var yesterday = new Date();
        yesterday.setTime(yesterday.getTime() - (1000*3600*32)); //24+8 (UTC -8)    
        $("#date").val(yesterday.toJSON().substring(0,10));


        show_page(1);
    });
</script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="span4">
        <div class="navbar" style="margin-bottom: 0">
            <div class="navbar-inner" style="padding-left: 0">
                <img class="face-picture" src="/static/img/student-pictures/{{ user.profile.get_fueluser.image_url }}">
                <span class="nav-title nav-username">{{ user.get_full_name }}</span>
            </div>
        </div>
        <div class="well" style="position: relative; top: -5px; z-index: -100; padding-bottom: 10px">
            <span><span class="big-numbers">{{ user.profile.get_fueluser.current_amount }}</span> points</span>
            <span class="pull-right">$<span class="big-numbers">{{ user.profile.get_fueluser.winnings|floatformat:2 }}</span></span>
        </div>

        <div class="navbar" style="margin-bottom: 0">
            <div class="navbar-inner">
                <span class="nav-title">Friends</span>
            </div>
        </div>
        <div class="well" style="position: relative; top: -5px; z-index: -100">
            <ul>
            {% for friend in user.profile.get_fueluser.friends %}
            <li>{{ friend.get_full_name }}</li>
            {% endfor %}
        </ul>
        </div>
    </div>
    <div class="span8">
        <div class="container-fluid" style="padding:0">
            <div class="row-fluid">
                <div class="span4" style="text-align:center">
                    <a class="btn btn-large btn-success" style="width:100%; box-sizing: border-box" href="{% url game %}">Play Game</a>
                </div>
                <div class="span4" style="text-align:center">
                    <a class="btn btn-large btn-success" style="width:100%; box-sizing: border-box" href="{% url history %}">Point Balance</a>
                </div>
                <div class="span4" style="text-align:center">
                    <a class="btn btn-large btn-success" style="width:100%; box-sizing: border-box">Statistics</a>
                </div>
            </div>
            <div class="row-fluid">                             
                <div class="span12">  
                    <hr style="border-bottom: 5px dotted #c0c0c0">
                    <h3> Input your activity </h3>               
                    <div class="row-fluid">
                        <input class="input span4" type="text" id="step" name="step" placeholder="Steps" value="{{ step }}">
                    </div>
                    <div class="row-fluid">
                        <input class="input span4" type="text" id="calories" name="calories" placeholder="Calorie" value="{{ calorie }}"> 
                    </div>
                    <div class="row-fluid">
                        <input class="input span4" type="text" id="fuel_score" name="fuel_score" placeholder="FuelScore" value="{{ fuel_score }}">                                           
                    </div>
                    <input class="input span4" type="date" id="date" name="date" placeholder="date">
                    <button id="submit-button" name="submit-button" type="submit span2" class="btn btn-success btn-primary" style="float:right">Submit</button>                          
                </div> <!-- span12 -->
            </div> <!-- row-fluid -->
        </div> <!-- container-fluid -->
    </div> <!-- span8 -->
</div>
{% endblock %}}
