{% extends 'frame.html' %}
{% block title %}home{% endblock %}
{% block head %}
<script type="text/javascript">
    month = 0;
    day = 0;
    $(document).ready(function() {
        $("div.status-meter").height({{ user.profile.status_value }}/20);

        $("td.day-done").click(function() {
            $("td.day").css('font-weight', 'normal').css('background-color', '');
            $(this).css('font-weight', 'bold').css('background-color', '#ffc');
            month = $(this).attr('id').split('-')[1];
            day = $(this).attr('id').split('-')[2];
            steps = $(this).attr('id').split('-')[3];
            calories = $(this).attr('id').split('-')[4];
            fuelscore = $(this).attr('id').split('-')[5];
            $("span#calendar-date").html(month+"/"+day+"/2013");
            $("input#steps").val(steps).prop('disabled', true);
            $("input#calories").val(calories).prop('disabled', true);
            $("input#fuelscore").val(fuelscore).prop('disabled', true);
            $("#form-available-submit").prop('disabled', true);
        });

        $("td.day-available").click(function() {
            $("td.day").css('font-weight', 'normal').css('background-color', '');
            $(this).css('font-weight', 'bold').css('background-color', '#afa');
            month = $(this).attr('id').split('-')[1];
            day = $(this).attr('id').split('-')[2];
            $("span#calendar-date").html(month+"/"+day+"/2013");
            $("input#month").val(month);
            $("input#day").val(day);
            $("input#steps").val('').prop('disabled', false);
            $("input#calories").val('').prop('disabled', false);
            $("input#fuelscore").val('').prop('disabled', false);
            $("#form-available-submit").prop('disabled', false);
            $("input#steps").focus();
        });

        $("#submit-button").click(function(){
            var intRegex = /^\d+$/;

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();
            var inputdate = $("#date").val().split("-");
            if ((!intRegex.test(inputdate[0])) || (!intRegex.test(inputdate[1])) || (!intRegex.test(inputdate[2])))
            {
                alert('Please input correct date');
                return false;
            }
            else {
                var d=parseInt(inputdate[2]);
                var m=parseInt(inputdate[1]);
                var y=parseInt(inputdate[0]);
                if ((y!=2013)||(m>mm)||((m==mm)&&(d>=dd)))
                {
                    alert('Please only input data PRIOR to today');
                    return false;
                }
            }
            if(!intRegex.test($("#step").val()))
                alert("Step should be a non-negative integer");
            else if(!intRegex.test($("#calories").val())) 
                alert("Calories should be a non-negative integer")
            else if(!intRegex.test($("#fuel_score").val()))
                alert("Fuel score should be a non-negative integer")
            else   
            $.get("/addrecord/", {       
                "step": $("#step").val(), "calories": $("#calories").val(), "fuel_score": $("#fuel_score").val(),
                "note": $("#note").val(), "date": $("#date").val()}).done(function(){
                    location.reload(true); 
                });
                return false;
        });
        var yesterday = new Date();
        yesterday.setTime(yesterday.getTime() - (1000*3600*32)); //24+8 (UTC -8)    
        $("#date").val(yesterday.toJSON().substring(0,10));
        
        if ($("td.day-available").length > 0) {
            $("td.day-available").last().click();
        } else if ($("td.day-done").length > 0) {
            $("td.day-done").last().click();
        }

        {% if invalid_date or invalid_input or repeated_input or record_added %}
        $("#modal").modal();
        {% endif %}
    });
</script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="span4">
        <div class="navbar" style="margin-bottom: 0">
            <div class="navbar-inner" style="padding-left: 0">
                <img class="face-picture" src="/static/img/student-pictures/{{ user.profile.get_fueluser.image_url }}">
                <span class="nav-title nav-username">{{ user.get_full_name }}</span>
            </div>
        </div>
        <div class="well" style="position: relative; top: -5px; z-index: -100; padding-bottom: 10px">
            <span><span class="big-numbers">{{ user.profile.get_fueluser.current_amount }}</span> point{{ user.profile.get_fueluser.current_amount|pluralize }}</span>
            <span class="pull-right">$<span class="big-numbers">{{ user.profile.get_fueluser.winnings|floatformat:2 }}</span></span>
        </div>
        <div class="navbar" style="margin-bottom: 0">
            <div class="navbar-inner">
                <span class="nav-title">Your status</span>
            </div>
        </div>
        <div class="well" style="position: relative; top: -5px; z-index: -100" id="status-box">
            <img class="status-gauge" src="/static/img/status-gauge-{{ user.profile.status }}.png">
            <div class="status-meter">
                <img src="/static/img/status-bar.png">
            </div>
            <div class="status">
                <p><b>Status:</b>
                {% autoescape off %}
                {{ user.profile.get_fueluser.status_badge }}</p>
                {% endautoescape %}
                <p><b>Status value:</b></p>
                <span class="big-numbers">{{ user.profile.status_value }}</span>
                <p><b>Status drain / day:</b></p>
                <span class="big-numbers">{{ user.profile.get_fueluser.status_drain }}</span>
            </div>
        </div>
        <div class="navbar" style="margin-bottom: 0">
            <div class="navbar-inner">
                <span class="nav-title">Friends and you</span>
            </div>
        </div>
        <div class="well" style="position: relative; top: -5px; z-index: -100">
            {% for friend in friends %}
            <div style="height: 52px">
                <img class="face-picture" src="/static/img/student-pictures/{{ friend.image }}" style="margin-right: 5px">
                <b>{{ friend.name }}</b>
                {% autoescape off %}
                {{ friend.badge }} 
                {% endautoescape %}
                <br>
                <span title="Cumulative FuelScore uploaded since 2/14/2013">FuelScore</span>: {{ friend.cfs }}, ${{ friend.money|floatformat:2 }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="span8">
        <div class="container-fluid" style="padding:0">
            <div class="row-fluid">
                <div class="span4" style="text-align:center">
                    <a class="btn btn-large btn-success btn-block" href="{% url game %}">Play Game</a>
                </div>
                <div class="span4" style="text-align:center">
                    <a class="btn btn-large btn-success btn-block" href="{% url history %}">Point Balance</a>
                </div>
                <div class="span4" style="text-align:center">
                    <a class="btn btn-large btn-success btn-block" href="{% url stats %}">Statistics</a>
                </div>
            </div>
            <hr style="border-bottom: 5px dotted #e0e0e0">
            <div class="row-fluid">                             
                <div class="span12">  
                    <h3> Input your activity </h3>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <table class="table table-condensed calendar" style="width: 100%; table-layout: fixed; font-size: 10pt">
                        <thead>
                            <tr>
                                <th style="width: 14.28%; text-align:center">S</th>
                                <th style="width: 14.28%; text-align:center">M</th>
                                <th style="width: 14.28%; text-align:center">T</th>
                                <th style="width: 14.28%; text-align:center">W</th>
                                <th style="width: 14.28%; text-align:center">T</th>
                                <th style="width: 14.28%; text-align:center">F</th>
                                <th style="width: 14.28%; text-align:center">S</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for week in calendar %}
                            <tr>
                                {% for day in week %}
                                {% if day.1 %}
                                <td class="day day-done" id="day-{{ day.0.month }}-{{ day.0.day }}-{{ day.3.steps }}-{{ day.3.calories }}-{{ day.3.fuelscore }}">
                                    {{ day.0.day }}
                                </td>
                                {% elif day.2 %}
                                <td class="day day-future">
                                    {{ day.0.day }}
                                </td>
                                {% else %}
                                <td class="day day-available" id="day-{{ day.0.month }}-{{ day.0.day }}">
                                    {{ day.0.day }}
                                </td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="span8 calendar-form">
                    <form method="post" action="{% url addrecord %}">
                        {% csrf_token %}
                        <div class="container-fluid well">
                            <div class="row-fluid">
                                <div class="span12">
                                    <p><b>Your data for <span id="calendar-date" class="label label-inverse">2/14/2013</span>:</b></p>
                                    <input type="hidden" id="month" name="month">
                                    <input type="hidden" id="day" name="day">
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="navbar-inner small">Steps</div>
                                    <input type="text" class="input-block-level input-large-font input-styled" name="steps" id="steps">
                                </div>
                                <div class="span4">
                                    <div class="navbar-inner small">Calories</div>
                                    <input type="text" class="input-block-level input-large-font input-styled" name="calories" id="calories">
                                </div>
                                <div class="span4">
                                    <div class="navbar-inner small">FuelScore</div>
                                    <input type="text" class="input-block-level input-large-font input-styled" name="fuelscore" id="fuelscore">
                                </div>

                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <button class="btn btn-block btn-primary btn-large" id="form-available-submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr style="border-bottom: 5px dotted #e0e0e0">
        </div> <!-- container-fluid -->
    </div> <!-- span8 -->
</div> <!-- row -->

<! -- modals -->
{% if invalid_date %}
<div class="modal hide fade" id="modal">
    <div class="modal-header"><h3>Invalid date submitted</h3></div>
    <div class="modal-body">
        The date you have chosen ({{ invalid_date }}) is invalid. Please check your input and try again.
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
{% elif invalid_input %}
<div class="modal hide fade" id="modal">
    <div class="modal-header"><h3>Invalid data submitted</h3></div>
    <div class="modal-body">
        Your submission is invalid. Please check your input and try again.
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
{% elif repeated_input %}
<div class="modal hide fade" id="modal">
    <div class="modal-header"><h3>Repeated data submitted</h3></div>
    <div class="modal-body">
        You have already submitted a report for this day ({{ repeated_input.date }}). Please check your input and try again.
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
{% elif record_added %}
<div class="modal hide fade" id="modal">
    <div class="modal-header"><h3>Activity submitted for {{ record_added.date }}!</h3></div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    {% if daily_bonus %}
                    <p><b>Congratulations on earning {{ record_added.amount.amount|add:daily_bonus }} points!</b></p>
                    {% else %}
                    <p><b>Congratulations on earning {{ record_added.amount.amount }} points!</b></p>
                    {% endif %}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                <td><b>Steps</b></td>
                                <td>{{ record_added.steps }}</td>
                            </tr>
                            <tr>
                                <td><b>Calories</b></td>
                                <td>{{ record_added.calories }}</td>
                            </tr>
                            <tr>
                                <td><b>FuelScore</b></td>
                                <td>{{ record_added.fuelscore }}</td>
                            </tr>
                            <tr>
                                <td><b>Points earned</b></td>
                                <td>{{ record_added.amount.amount}}</td>
                            </tr>
                            {% if daily_bonus %}
                            <tr>
                                <td><b>Daily bonus</b></td>
                                <td>{{ daily_bonus }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td><b>Status points</b></td>
                                <td>{{ status_value }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span6">
                    <img src="/static/img/fuelband.jpg" style="width:100%">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
{% endif %}
{% endblock %}
