{% extends 'frame.html' %}
{% block title %}index{% endblock %}
{% block content %}
<div class="row">
    <div class="span6">
        <div class="well">
            <h2>Welcome to {{ website_name }}!</h2>
            <p>{{ website_name }} allows you to upload your own Nike+ FuelBand data and compete in an incentive program against your OIT258 classmates.</p>
        </div>
        <div class="container-fluid" style="padding:0">
            <div class="row-fluid">
                <div class="span4">
                    <button class="btn btn-large btn-primary" style="width:100%; height: 75px">How it works</button>
                </div>
                <div class="span4">
                    <button class="btn btn-large btn-success" style="width:100%; height: 75px">Learn more</button>
                </div>
                <div class="span4">
                    <button class="btn btn-large btn-info" style="width:100%; height: 75px">Join now!</button>
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="well">
            <form class="form-inline" style="margin-bottom: 0" method="post" action="{% url login %}">
                <h3>Log in to {{ website_name }}</h3>
                {% csrf_token %}
                <input class="input span2" type="text" name="email" placeholder="@stanford.edu" value="{{ email }}">
                <input class="input span2" type="password" name="password" placeholder="password">
                <button type="submit" class="btn btn-success" style="width: 100px; float:right">Log in</button>
            </form>
            {% if login_fail %}
            <span id="auth-alert" class="alert alert-danger" style="display: block; margin-bottom: 0; margin-top: 10px">
                Your email or password was incorrect.
                <button type="button" class="close" onclick="$('span#auth-alert').remove();">&times;</button>
            </span>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
