{% extends 'frame.html' %}
{% block title %}videos{% endblock %}
{% block head %}
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">

    function openpopupvideo() {

        // this opens up a pop up window you can fill with your video.

        // change the height, width, and video name to match your specific video

        $("#test-modal").modal();

    }

</script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="span12">
        <input type="button" onclick="openpopupvideo();" value="Click here to see pop-up" />
        <video width="220" height="140" controls>
        <source src="/static/videos/a.mp4" type="video/mp4">
        </video>

        <!--<a href="/static/videos/GangnamStyle.mp4" rel="vidbox" title="caption">our video</a>
        <a href="http://www.youtube.com/watch?v=0X3e3l5uScU" rel="vidbox" title="caption">our video</a>
        -->
    </div>
</div>

<div class="modal hide fade" id="test-modal">
    <video width="520" height="450" controls>
    <source src="/static/videos/a.mp4" type="video/mp4">
    </video>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
{% endblock %}
